{% macro ledgerCheck(ledgerType, ledgerValue) %}
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-s">
      {% if ledgerType === 'ap' %}
      Accounts payable
      {% else %}
      Accounts receivable
      {% endif %}
    </h1>
    <div id="{{ledgerType}}-value-wrapper" class="govuk-form-group">
      <label class="govuk-label" for="{{ledgerType}}-value">
        Value
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" id="{{ledgerType}}-value" name="{{ledgerType}}-value" value="{{ledgerValue}}" type="text">
      </div>
    </div>
  </div>
{% endmacro %}
