{% macro paymentRequestHeader(paymentRequestData, showLedger = true) %}
  <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">Header</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-body-s">Scheme</th>
            <th scope="col" class="govuk-table__header govuk-body-s">Scheme year</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">FRN</th>
            <th scope="col" class="govuk-table__header govuk-body-s">Agreement number</th>
            <th scope="col" class="govuk-table__header govuk-body-s">Invoice</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Request</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Total amount</th>
            {% if showLedger %}
              <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Ledger</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s">{{paymentRequestData.schemes.name}}</td>
            <td class="govuk-table__cell govuk-body-s">{{paymentRequestData.marketingYear}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{paymentRequestData.frn}}</td>
            <td class="govuk-table__cell govuk-body-s">{{paymentRequestData.agreementNumber}}</td>
            <td class="govuk-table__cell govuk-body-s">{{paymentRequestData.invoiceNumber}}</td>
            <td class="govuk-table__cell govuk-table__header--numeric govuk-body-s">{{paymentRequestData.paymentRequestNumber}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s noWrap">{{paymentRequestData.valueText}}</td>
            {% if showLedger %}
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{paymentRequestData.ledger}}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
{% endmacro %}
