{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro radioList(legend, values, isInline) %}
    <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading"> {{ legend }} </h1>
        </legend>
        <div class="govuk-radios {{ 'govuk-radios--inline' if isInline }} {{ 'govuk-radios--small' if isInline }}">
          {% for value in values %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{ legend.toLowerCase().split(" ").join("-") }}" name="{{ legend.toLowerCase().split(" ").join("-") }}" type="radio" value="{{ value }}">
              <label class="govuk-label govuk-radios__label"> {{ value }} </label>
            </div>
          {% endfor %}
        </div>
      </div>
{% endmacro %}