{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "macros/search-input.njk" import searchInput %}

{% macro searchCombined(model) %}
  <div class="govuk-form-group govuk-!-margin-bottom-1">
    {{ searchInput(model.input) }}
  </div>

  <div class="govuk-form-group govuk-!-margin-bottom-1">
    {% set selectItems = [{ value: "", text: "", selected: not model.select.value }] %}
    {% for opt in model.select.options %}
      {% set selected = (opt == model.select.value) %}
      {% set selectItems = selectItems.concat([{ value: opt, text: opt, selected: selected }]) %}
    {% endfor %}

    {{ govukSelect({
      id: model.select.id,
      name: model.select.name,
      label: {
        text: model.select.label.text,
        classes: model.select.label.classes
      },
      classes: model.select.classes,
      items: selectItems,
      errorMessage: model.select.errorMessage
    }) }}

    {{ govukButton({
      text: model.select.buttonText or "Search",
      classes: model.select.buttonClasses or "govuk-button govuk-!-margin-top-2"
    }) }}
  </div>
{% endmacro %}
