$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "~govuk-frontend/govuk/all";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.govuk-prose-scope {

  // @extend inheritance

  // Contextual heading and paragraph combinations are inherited
  // through the use of @extend

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}

.search-form {
  position: relative;
}

.search-button {
  position: absolute;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  // background-image: url(../images/search-icon.png);
  background-position: 2px 50%;
  background-color: #1d70b8;
  margin-left: -2.5rem;

  &:hover {
    background-color: #143c7c;
  }
}

.govuk-cards__item {
  box-sizing: border-box;

  @include govuk-media-query($until: tablet) {
      margin-bottom: 20px;
  }

  @include govuk-media-query($from: tablet) {
      float: left;
      margin-bottom: 40px;
  }

  @include govuk-media-query($from: desktop) {
      width: 33.333333%;

      &:not(:nth-child(3n+3)) {
          padding-right: 20px;
      }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
      width: 50%;

      &:not(:nth-child(2n+2)) {
          padding-right: 15px;
      }
  }
}

/**
* V2 cards with background colour
*/
.govuk-cards::after,
.govuk-cards--2::after,
.govuk-cards--3::after {
  content: '';
  display: block;
  clear: both;
}

.govuk-cards--2__item {
  box-sizing: border-box;
  border: 1px solid #b1b4b6;
  background-color: #f3f2f1;
  padding: 20px;
  margin-bottom: 20px;
  float: left;

  :last-child {
      margin-bottom: 0;
  }

  @include govuk-media-query($from: desktop) {
    width: calc(33% - 11px);
    min-height: 220px;

    &.govuk-card--company {
        width: calc(66.8% - 10px);
    }

    &:not(:nth-child(3n+3)) {
        margin-right: 20px;
    }

    .govuk-cards--3 &.govuk-card--contacts {
        margin-right: 0;
    }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    width: calc(50% - 8px);
    min-height: 220px;

    &.govuk-card--company {
        width: calc(66% - 8px);
    }

    &:not(:nth-child(2n+2)) {
        margin-right: 15px;
    }

    .govuk-cards--3 &.govuk-card--contacts {
        margin-right: 0;
    }
  }

  @include govuk-media-query($until: tablet) {
    width: 100%;

    &.govuk-card--company {
        width: 100%;
    }
  }
}