Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/home/node/app/views/cookies/_cookie-b  anner.template.njk' in '/home/node'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/home/node/app/vi  ews/cookies/_cookie-banner.template.njk' in '/home/node'
  
  - Compilation.js:2073 
    [node]/[webpack]/lib/Compilation.js:2073:28
  
  - NormalModuleFactory.js:1041 
    [node]/[webpack]/lib/NormalModuleFactory.js:1041:13
  
  
  - NormalModuleFactory.js:437 
    [node]/[webpack]/lib/NormalModuleFactory.js:437:22
  
  
  - NormalModuleFactory.js:622 
    [node]/[webpack]/lib/NormalModuleFactory.js:622:22
  
  - NormalModuleFactory.js:181 
    [node]/[webpack]/lib/NormalModuleFactory.js:181:10
  
  - NormalModuleFactory.js:894 
    [node]/[webpack]/lib/NormalModuleFactory.js:894:25
  
  - NormalModuleFactory.js:1126 
    [node]/[webpack]/lib/NormalModuleFactory.js:1126:8
  
  - NormalModuleFactory.js:1255 
    [node]/[webpack]/lib/NormalModuleFactory.js:1255:5
  
  - child-compiler.js:169 
    [node]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:648 finalCallback
    [node]/[webpack]/lib/Compiler.js:648:5
  
  - Compiler.js:684 
    [node]/[webpack]/lib/Compiler.js:684:11
  
  - Compiler.js:1379 
    [node]/[webpack]/lib/Compiler.js:1379:17
  
  
  - Hook.js:21 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [node]/[tapable]/lib/Hook.js:21:14
  
  - Compiler.js:1375 
    [node]/[webpack]/lib/Compiler.js:1375:33
  
  - Compilation.js:3183 finalCallback
    [node]/[webpack]/lib/Compilation.js:3183:11
  
  - Compilation.js:3521 
    [node]/[webpack]/lib/Compilation.js:3521:11
  
  
</pre>