{% extends "govuk/template.njk" %}

{% block head %}
  <% htmlWebpackPlugin.files.css.forEach(file => { %> <link href="<%= file.replace('../dist/', '/static/') %>" rel="stylesheet"><% }) %>
{% endblock %}

{% block header %}
  {{ govukHeader({ rebrand: true, homepageUrl: "/", productName: serviceName, serviceUrl: "/" }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% if auth.isAuthenticated %}
    <a href="/logout" class="govuk-body govuk-link">Sign out</a>    
  {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({ rebrand: true }) }}
{% endblock %}

{% block bodyEnd %}
<% htmlWebpackPlugin.files.js.forEach(file => { %>  <script src="<%= file.replace('../dist/', '/static/') %>"></script><% }) %>
{% endblock %}
