{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "macros/search-combined.njk" import searchCombined %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Capture reporting data</h1>

      <p class="govuk-body">
        Datasets are automatically attached to matching requests when they are received in the request editor.
      </p>

      {{ govukButton({
        text: "Capture new dataset",
        href: "/capture-debt",
        isStartButton: true
      }) }}

      <div class="user-search-box govuk-!-width-one-third">
        <form class="search-form" action="/capture" method="POST">
          <input type="hidden" name="crumb" value="{{crumb}}"/>
          {{ searchCombined(model) }}
        </form>
      </div>

      {% if captureData.length %}
        <div class="govuk-!-padding-bottom-3">
          <div class="govuk-inset-text">
            Datasets that are attached to payment requests are shown for reference only and cannot be deleted
          </div>

          {{ govukRadios({
            name: "unattached-data",
            fieldset: {
              legend: {
                text: "Show attached datasets",
                classes: "govuk-fieldset__legend--s"
              }
            },
            classes: "govuk-radios--inline govuk-radios--small",
            items: [
              {
                value: "yes",
                text: "Yes",
                id: "unattached-data-yes",
                checked: true
              },
              {
                value: "no",
                text: "No",
                id: "unattached-data-no"
              }
            ]
          }) }}

          <div class="govuk-!-margin-bottom-6">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <a href="/capture/extract" class="govuk-link">Download an extract</a>
              </div>
              <div class="govuk-grid-column-one-half">
                <form action="/capture" method="get">
                  {{ govukSelect({
                    id: "records",
                    name: "perPage",
                    label: {
                      text: "Number of records per page"
                    },
                    attributes: {
                      onchange: "this.form.submit()"
                    },
                    items: [
                      {
                        value: 2500,
                        text: "2500",
                        selected: perPage == 2500
                      },
                      {
                        value: 5000,
                        text: "5000",
                        selected: perPage == 5000
                      },
                      {
                        value: 10000,
                        text: "10000",
                        selected: perPage == 10000
                      }
                    ]
                  }) }}
                </form>
              </div>
            </div>
          </div>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Existing reporting datasets</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s">Scheme</th>
                <th scope="col" class="govuk-table__header govuk-body-s">FRN</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Agreement number</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Net value</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Debt type</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Date of Discovery</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Created by</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Status</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for data in captureData %}
                <tr class="govuk-table__row capture-datasets" data-status="{{ 'attached' if data.paymentRequestId else 'pending' }}">
                  <td class="govuk-table__cell govuk-body-s">{{ data.schemes.name }}</td>
                  <td class="govuk-table__cell govuk-body-s">{{ data.frn }}</td>
                  <td class="govuk-table__cell govuk-body-s">
                    {% if data.reference %}
                      {{ data.reference }}
                    {% else %}
                      Manual enrichment
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
                    {% if data.netValueText %}
                      {{ data.netValueText }}
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-body-s">{{ data.debtTypeText }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{ data.recoveryDate }}</td>
                  <td class="govuk-table__cell govuk-body-s">{{ data.createdBy }}</td>
                  <td class="govuk-table__cell govuk-body-s">
                    {% if data.paymentRequestId %}
                      <strong class="govuk-tag govuk-tag--green">Attached</strong>
                    {% else %}
                      <strong class="govuk-tag">Pending</strong>
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-body-s">
                    {% if not data.paymentRequestId %}
                      <form action="/capture/delete" method="POST">
                        <input type="hidden" name="crumb" value="{{crumb}}"/>
                        <input type="hidden" name="debtDataId" value="{{data.debtDataId}}"/>
                        {{ govukButton({
                          text: "Delete",
                          classes: "govuk-button--secondary govuk-button--small",
                          attributes: {
                            "aria-label": "Delete dataset for FRN " ~ data.frn ~ " with agreement " ~ (data.reference if data.reference else "manual enrichment")
                          }
                        }) }}
                      </form>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <nav class="govuk-pagination" aria-label="Pagination">
            {% if page > 1 %}
              <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="?page={{ page - 1 }}&perPage={{ perPage }}" rel="prev">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                  </span>
                </a>
              </div>
            {% endif %}
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <span class="govuk-pagination__link-title">
                  {{ page }}
                  <span class="govuk-visually-hidden"> page</span>
                </span>
              </li>
            </ul>
            {% if captureData.length >= perPage %}
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?page={{ page + 1 }}&perPage={{ perPage }}" rel="next">
                  <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                  </span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
            {% endif %}
          </nav>
        </div>
      {% else %}
        <div class="govuk-inset-text">
          No reporting datasets
        </div>
      {% endif %}
    </div>
  </div>

  <script>
    const toggleUnattachedForm = document.querySelectorAll('input[name="unattached-data"]')

    const toggleUnattachedData = () => {
      const noToggle = document.getElementById('unattached-data-no')
      const tableRows = document.querySelectorAll('.govuk-table__row.capture-datasets')
      
      if (noToggle.checked) {
        tableRows.forEach(row => {
          if (row.getAttribute('data-status') === 'attached') {
            row.style.display = 'none'
          }
        })
      } else {
        tableRows.forEach(row => row.removeAttribute('style'))
      }
    }

    toggleUnattachedForm.forEach(input => input.addEventListener('change', toggleUnattachedData))
  </script>
{% endblock %}