{% extends '_layout.njk' %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "Create new debt data" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "Manage unattached debt data",
      href: "/capture"
    }, {
      text: pageTitle
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">
        Provide upcoming debt information for payments that haven’t been processed.
      </p>
      <p class="govuk-body">
        Datasets will be unattached within request editor and automatically attached to a matching payment request when received.
      </p>

      {% if model.errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errorSummary
        }) 
      }}
      {% endif %}

      <form method="POST" action="/capture-debt-confirm" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}"/>
        
        <div class="govuk-form-group">
          {{ govukSelect(model.components.scheme) }}
        </div>

        <div class="govuk-form-group">
          {{ govukInput(model.components.frn) }}
        </div>

        <div class="govuk-form-group">
          {{ govukInput(model.components.applicationIdentifier) }}
        </div>

        <div class="govuk-form-group">
          {{ govukInput(model.components.net) }}
        </div>

        <div class="govuk-form-group">
          {{ govukRadios(model.components.debtType) }}
        </div>

        <div class="govuk-form-group">
          {{ govukDateInput(model.components.debtDate) }}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
              text: "Continue",
              attributes: {
                id: "capture-debt"
              }
            }) 
          }}
          <a class="govuk-link" href="/capture">Cancel</a>
        </div>
      
      </form>
    </div>
  </div>
{% endblock %}
