{% extends '_layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/",
      attributes: {
        id: "back"
      }
    }) 
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Create new reporting dataset</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

    {% if test %}
      <h1>post <h1>
    {% endif %}

    <form method="POST" action="/capture-debt" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading"> Scheme </h1>
        </legend>
        <div class="govuk-radios govuk-radios--inline govuk-radios--small">
          {% for scheme_name in schemes %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{ scheme_name }}" type="radio">
              <label class="govuk-label govuk-radios__label"> {{ scheme_name }} </label>
            </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="govuk-form-group">
        {{ govukInput({
            label: {
              text: "Firm Reference Number (FRN)",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            id: "frn",
            name: "frn"
          }) 
        }}
      </div>
      <div class="govuk-form-group">
        {{ govukInput({
            label: {
              text: "Application identifier",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Unique reference number to identify application."
            },
            classes: "govuk-input--width-10",
            id: "application-identifier",
            name: "application-identifier"
          }) 
        }}
      </div>
      <div class="govuk-form-group">
        {{ govukInput({
            prefix: {
              text: "£"
            },
            label: {
              text: "Net value, in pounds",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-5",
            id: "net",
            name: "net"
          }) 
        }}
      </div>
      <div class="govuk-form-group">
        {{ govukRadios({
            classes: "govuk-radios--small",
            idPrefix: "error-type", 
            name: "error-type",
            fieldset: {
              legend: {
                text: "Type of debt",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: false,
                text: "Irregular"
              },
              {
                value: false,
                text: "Administrative"
              }
            ]
          }) 
        }}
      </div>
      <div class="govuk-form-group">
      {{ govukDateInput({
        id: "debt-discovered",
        namePrefix: "debt-discovered",
        fieldset: {
          legend: {
            text: "Date debt discovered",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}
      </div>

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "capture-debt"
          }
        }) }}
    </form>

  </div>
{% endblock %}
