{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/search-box.njk" import searchBox %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block content %}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Capture reporting data</h1>

      <p class="govuk-body">
        Datasets are automatically attached to matching requests when they are received in the request editor.
      </p>
      <a href="/capture-debt" class="govuk-button govuk-button--start">
        Capture new dataset
      </a>

      {% if captureData.length %}
        <div class="govuk-!-padding-bottom-3">
          <div class="user-search-box govuk-!-width-one-third">
            <form class="search-form" action="/capture" method="POST">
              <input type="hidden" name="crumb" value="{{crumb}}"/>
              {{searchBox(model)}}
            </form>
          </div>

          <div class="govuk-inset-text">
            Datasets that are attached to payment requests are shown for reference only and cannot be deleted
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading govuk-body govuk-!-font-size-19">
                  Show attached datasets
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="unattached-data-yes" name="unattached-data" type="radio" value="yes" autocomplete="off" checked>
                  <label class="govuk-label govuk-radios__label" for="unattached-data-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="unattached-data-no" name="unattached-data" type="radio" value="no" autocomplete="off" >
                  <label class="govuk-label govuk-radios__label" for="unattached-data-no">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="govuk-body">
            <div style="float: left;">
              <a href="/capture/extract" class="govuk-link">Download an extract </a>
            </div>
            <div style="float: right;">
              <form action="/capture" method="get">
                {{ govukSelect({
        id: "records",
        name: "perPage",
        label: {
          text: "Number of records per page"
        },
        attributes: {
          onchange: "this.form.submit()"
        },
        items: [
          {
            value: 2500,
            text: "2500",
            selected: perPage == 2500
          },
          {
            value: 5000,
            text: "5000",
            selected: perPage == 5000
          },
          {
            value: 10000,
            text: "10000",
            selected: perPage == 10000
          }
        ]
      }) }}
              </form>
            </div>
            <div style="clear: both;"></div>
          </div>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Existing reporting datasets</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s">Scheme</th>
                <th scope="col" class="govuk-table__header govuk-body-s">FRN</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Agreement number</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Net value</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Debt type</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Date of Discovery</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Created by</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Status</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for data in captureData %}
                <tr class="govuk-table__row capture-datasets">
                  <td scope="col" class="govuk-table__cell govuk-body-s">{{ data.schemes.name }}</td>
                  <td scope="col" class="govuk-table__cell govuk-body-s">{{ data.frn }}</td>
                  <td scope="col" class="govuk-table__cell govuk-body-s">
                    {% if data.reference %}
                      {{ data.reference }}
                      {%else%}
                      Manual enrichment
                    {%endif%}
                    </td>
                    <td scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
                      {% if data.netValueText %}
                        {{ data.netValueText }}
                        {%endif%}
                      </td>
                      <td scope="col" class="govuk-table__cell govuk-body-s">{{ data.debtTypeText }}</td>
                      <td scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{ data.recoveryDate }}</td>
                      <td scope="col" class="govuk-table__cell govuk-body-s">{{ data.createdBy }}</td>
                      <td scope="col" class="govuk-table__cell govuk-body-s">
                        {% if data.paymentRequestId %}
                          <strong class="govuk-tag govuk-tag--green capture-status">Attached</strong>
                        {% else %}
                          <strong class="govuk-tag capture-status">Pending</strong>
                        {% endif %}
                      </td>
                      <td scope="col" class="govuk-table__cell govuk-body-s">
                        {% if not data.paymentRequestId %}
                          <form action="/capture/delete" method="POST">
                            <input type="hidden" name="crumb" value="{{crumb}}"/>
                            <input type="hidden" name="debtDataId" value="{{data.debtDataId}}"/>
                            <button class="govuk-button-link" data-module="govuk-button">
                          Delete
                        </button>
                          </form>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <nav class="govuk-pagination" aria-label="Pagination">
                <div class="govuk-pagination__prev">
                  {% if page > 1 %}
                    <a class="govuk-link govuk-pagination__link" href="?page={{ page - 1 }}" rel="prev">
                      <span class="govuk-pagination__link-title">
          Previous<span class="govuk-visually-hidden"> page</span>
                      </span>
                    </a>
                  {% endif %}
                </div>
                <ul class="govuk-pagination__list">
                  <li class="govuk-pagination__item govuk-pagination__item--current">
                    <span class="govuk-pagination__link-title">
                      {{ page }}
                      <span class="govuk-visually-hidden"> page</span>
                    </span>
                  </li>
                </ul>
                <div class="govuk-pagination__next">
                  {% if captureData.length >= perPage %}
                    <a class="govuk-link govuk-pagination__link" href="?page={{ page + 1 }}" rel="next">
                      <span class="govuk-pagination__link-title">
          Next<span class="govuk-visually-hidden"> page</span>
                      </span>
                    </a>
                  {% endif %}
                </div>
              </nav>
            {% else %}
              <div class="govuk-inset-text">
      No reporting datasets
    </div>
            {% endif %}
          </div>
        </div>

        <script>
          const toggleUnattachedForm = document.querySelectorAll(".govuk-radios__input")

          const toggleUnattachedData = () => {
            const noToggle = document.getElementById('unattached-data-no')
            const tableRows = document.querySelectorAll('.govuk-table__row.capture-datasets')
            if (noToggle.checked) {
              for (let i = 0; i < tableRows.length; i++) {
                if (tableRows[i].querySelector('.capture-status').innerHTML === 'Attached') {
                  tableRows[i].style.display = 'none'
                }
              }
            } else {
              tableRows.forEach(x => x.removeAttribute('style'))
            }
          }

          toggleUnattachedForm.forEach(x => x.addEventListener('change', toggleUnattachedData))
        </script>
      {% endblock %}