{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "macros/search-input.njk" import searchInput %}

{% block content %}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Requests awaiting reporting data</h1>

      {% if enrichData.length%}
        <div class="govuk-!-padding-bottom-3">
          <div class="user-search-box govuk-!-width-one-third">
            <form class="search-form" action="/enrich" method="POST">
              <input type="hidden" name="crumb" value="{{crumb}}"/>
              {{searchInput(model)}}
            </form>
          </div>

          <p class="govuk-body">
            <a href="/enrich" class="govuk-link govuk-link--no-visited-state">View all requests</a>
          </p>

          <div class="govuk-body">
            <div style="float: right;">
              <form action="/enrich" method="get">
                {{ govukSelect({
                  id: "records",
                  name: "perPage",
                  label: {
                    text: "Number of records per page"
                  },
                  attributes: {
                    onchange: "this.form.submit()"
                  },
                  items: [
                    {
                      value: 100,
                      text: "100",
                      selected: perPage == 100
                    },
                    {
                      value: 500,
                      text: "500",
                      selected: perPage == 500
                    },
                    {
                      value: 1000,
                      text: "1000",
                      selected: perPage == 1000
                    }
                  ]
                }) }}
              </form>
            </div>
            <div style="clear: both;"></div>
          </div>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Requests</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s">Scheme</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Scheme Year</th>
                <th scope="col" class="govuk-table__header govuk-body-s">FRN</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Agreement number</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Total amount</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Days waiting</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for data in enrichData %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">{{ data.schemes.name }}</td>
                  <td class="govuk-table__cell govuk-body-s">{{ data.marketingYear }}</td>
                  <td class="govuk-table__cell govuk-body-s">{{ data.frn }}</td>
                  <td class="govuk-table__cell govuk-body-s">{{ data.agreementNumber }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s noWrap">{{ data.valueText }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{ data.daysWaiting }}</td>
                  <td class="govuk-table__cell govuk-body-s">
                      <a href="enrich-request?invoiceNumber={{ data.invoiceNumber }}&paymentRequestId={{ data.paymentRequestId }}">Enrich</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav class="govuk-pagination" aria-label="Pagination">
            {% if page > 1 %}
              <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="?page={{ page - 1 }}&perPage={{ perPage }}" rel="prev">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                  </span>
                </a>
              </div>
            {% endif %}
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <span class="govuk-pagination__link-title">
                  {{ page }}
                  <span class="govuk-visually-hidden"> page</span>
                </span>
              </li>
            </ul>
            {% if enrichData.length >= perPage %}
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?page={{ page + 1 }}&perPage={{ perPage }}" rel="next">
                  <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                  </span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
            {% endif %}
          </nav>
        </div>
      {% else %}
        <div class="govuk-inset-text">
          No payment requests awaiting reporting data
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
