{% extends '_layout.njk' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Enrich request" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "View awaiting reporting data",
      href: "/enrich"
    }, {
      text: pageTitle
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">
        Add the debt type and the date the debt was discovered to the payment request.
      </p>
      <h2 class="govuk-heading-m">Request to enrich</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            FRN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ paymentRequest.frn }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Scheme
          </dt>
          <dd class="govuk-summary-list__value">
            {{ paymentRequest.schemes.name }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year
          </dt>
          <dd class="govuk-summary-list__value">
            {{ paymentRequest.marketingYear }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agreement number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ paymentRequest.agreementNumber }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Invoice number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ paymentRequest.invoiceNumber }}
          </dd>
        </div>
      </dl>
      <form action="/enrich-request-confirm" method="POST" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="invoice-number" value="{{ paymentRequest.invoiceNumber }}"/>
        <input type="hidden" name="payment-request-id" value="{{ paymentRequest.paymentRequestId }}"/>
        <h2 class="govuk-heading-m">Dataset to attach</h2>
        {% if model.errorMessage %}
          {{ govukErrorSummary(model.errorMessage) }}
        {% endif %}
        {{ govukRadios(model.radio) }}
        {{ govukDateInput(model.date) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              id: "submit"
            }
          }) }}
          <a class="govuk-link" href="/enrich">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
