{% extends '_layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{serviceName}}</h1>
      {% if auth.isEnrichmentUser %}
        <div class="govuk-cards govuk-cards--2">
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Unattached reporting datasets</h2>
            <p class="govuk-heading-xl govuk-!-margin-bottom-5">
              {{ captureCount }}
            </p>
            <ul class="govuk-list">
              <li>
                {% if captureCount > 0 %}
                  <a href="/capture" class="govuk-link">View unattached datasets</a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Requests awaiting reporting data</h2>
            <p class="govuk-heading-xl govuk-!-margin-bottom-5">
              {{ enrichCount }}
            </p>
            <ul class="govuk-list">
              <li>
                {% if enrichCount > 0 %}
                  <a href="/enrich" class="govuk-link">View awaiting reporting data</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      {% endif %}
    {% if auth.isLedgerUser %}      
    <div class="govuk-cards govuk-cards--2">
        <div class="govuk-cards--2__item govuk-card--dashboard">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Awaiting Manual Ledger Assignment</h2>
          <p class="govuk-heading-xl govuk-!-margin-bottom-5">
            {{ manualLedgerCount }}
          </p>
          <ul class="govuk-list">
            <li>
              {% if manualLedgerCount > 0 %}
                <a href="/manual-ledger" class="govuk-link">View  Manual Ledger Assignment</a>
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="govuk-cards--2__item govuk-card--dashboard">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Requests awaiting quality check</h2>
          <p class="govuk-heading-xl govuk-!-margin-bottom-5">
            {{ qualityCheckCount }}
          </p>
          <ul class="govuk-list">
            <li>
              {% if qualityCheckCount > 0 %}
                <a href="/quality-check" class="govuk-link">View awaiting quality check</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
    {% if auth.isEnrichmentUser %}
      <h2 class="govuk-heading-m">Capture new reporting dataset</h2>
      <p class="govuk-body">
        Datasets are automatically attached to matching requests when they are received in the request editor.
      </p>
      <a href="/capture-debt" class="govuk-button govuk-button--start">
        Capture new dataset
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" fill-rule="evenodd"></path>
        </svg>
      </a>
    {% endif %}
    </div>
  </div>
{% endblock %}
