{% extends '_layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{serviceName}}</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

    {{ govukButton({
        attributes: { id: "submit" },
        text: "Create new dataset",
        href: "/capture-debt",
        isStartButton: true
      }) 
    }}

  </div>
{% endblock %}
