{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/manual-ledger",
      attributes: {
        id: "back"
      }
    }) 
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Manual Ledger Check - {{manualLedgerData.paymentRequest.invoiceNumber}}</h1>
      <span class="govuk-caption-l">FRN: {{manualLedgerData.paymentRequest.frn}}</span>
      <span class="govuk-caption-l">Invoice: {{manualLedgerData.paymentRequest.invoiceNumber}}</span>
      <span class="govuk-caption-l">Application Id: {{manualLedgerData.paymentRequest.agreementNumber}}</span>
      <span class="govuk-caption-l">Request: {{manualLedgerData.paymentRequest.paymentRequestNumber}}</span>
      <span class="govuk-caption-l">Currency: {{manualLedgerData.paymentRequest.currency}}</span>
      <span class="govuk-caption-l">Ledger: {{manualLedgerData.paymentRequest.ledger}}</span>
      <span class="govuk-caption-l">Siti Value: {{manualLedgerData.paymentRequest.value}}</span>
      <h2 class="govuk-heading-2">Ledger Split:</h2>
    </div>
  
    {% if model.errorSummary %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errorSummary
      }) 
    }}
    {% endif %}

  </div>
{% endblock %}
