{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/payment-request-header.njk" import paymentRequestHeader %}
{% from "macros/payment-request-invoice-lines.njk" import paymentRequestInvoiceLines %}

{% set pageTitle = "Quality check ledger assignment" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "View ledger assignments to be quality checked",
      href: "/quality-check"
    }, {
      text: pageTitle
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{model.manualLedgerData.invoiceNumber}}</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">
        Review the provisional payment details and confirm that they are correct.
      </p>
      <p class="govuk-body">
        If the details are incorrect, it will be sent back to ledger assignment to be reviewed and amended.
      </p>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Original payment details</h2>
      {{ paymentRequestHeader(model.manualLedgerData) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Invoice Lines
          </span>
        </summary>
        <div class="govuk-details__text">
          {{ paymentRequestInvoiceLines(model.manualLedgerData.invoiceLines) }}
        </div>
      </details>

      <h2 class="govuk-heading-m">Provisional payment details</h2>
      {% for data in model.manualLedgerData.manualLedgerChecks %}
        {{ paymentRequestHeader(data.ledgerPaymentRequest) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Invoice Lines
            </span>
          </summary>
          <div class="govuk-details__text">
            {{ paymentRequestInvoiceLines(data.ledgerPaymentRequest.invoiceLines) }}
          </div>
        </details>
      {% endfor %}

      {% if model.errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: model.errorMessage
        }) }}
      {% endif %}

      <form action="/manual-ledger-review" method="post" novalidate>
        <input type="hidden" name="paymentRequestId" value="{{model.manualLedgerData.paymentRequestId}}"/>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="invoiceNumber" value="{{model.manualLedgerData.invoiceNumber}}"/>
        {{ govukRadios(model.ledgerAgreement) }}
        
        {{ govukButton({
          text: "Submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}