{% extends '_layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "macros/search-input.njk" import searchInput %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/",
    attributes: {
      id: "back"
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Ledger assignments awaiting quality check</h1>

      {% if qualityCheckData.length %}
        <div class="govuk-!-padding-bottom-3">
          <div class="govuk-!-width-one-third">
            <form action="/quality-check" method="POST">
              <input type="hidden" name="crumb" value="{{crumb}}"/>
              {{ searchInput(model) }}
            </form>
          </div>

          <p class="govuk-body">
            <a href="/quality-check" class="govuk-link govuk-link--no-visited-state">View all outstanding quality checks</a>
          </p>

          <div class="govuk-!-text-align-right govuk-!-margin-bottom-6">
            <form action="/quality-check" method="get">
              {{ govukSelect({
                id: "perPage",
                name: "perPage",
                label: {
                  text: "Number of records per page"
                },
                attributes: {
                  onchange: "this.form.submit()"
                },
                items: [
                  {
                    value: 100,
                    text: "100",
                    selected: perPage == 100
                  },
                  {
                    value: 500,
                    text: "500",
                    selected: perPage == 500
                  },
                  {
                    value: 1000,
                    text: "1000",
                    selected: perPage == 1000
                  }
                ]
              }) }}
            </form>
          </div>

          {% set tableRows = [] %}
          {% for qualityCheck in qualityCheckData %}
            {% set actionHtml %}
              {% if qualityCheck.status === 'Pending' and qualityCheck.paymentRequest.manualLedgerChecks[0].createdById != user.userId %}
                <a href="/manual-ledger-review?paymentrequestid={{qualityCheck.paymentRequest.paymentRequestId}}" class="govuk-link" aria-label="Review invoice {{ qualityCheck.paymentRequest.invoiceNumber }} for FRN {{ qualityCheck.paymentRequest.frn }}">Review</a>
              {% endif %}
            {% endset %}

            {% set tableRows = (tableRows.push([
              { text: qualityCheck.paymentRequest.schemes.name, classes: "govuk-body-s" },
              { text: qualityCheck.paymentRequest.marketingYear, classes: "govuk-body-s" },
              { text: qualityCheck.paymentRequest.frn, classes: "govuk-body-s" },
              { text: qualityCheck.paymentRequest.agreementNumber, classes: "govuk-body-s" },
              { text: qualityCheck.paymentRequest.invoiceNumber, classes: "govuk-body-s" },
              { text: qualityCheck.paymentRequest.paymentRequestNumber, format: "numeric", classes: "govuk-body-s" },
              { text: qualityCheck.paymentRequest.valueText, format: "numeric", classes: "govuk-body-s noWrap" },
              { text: qualityCheck.paymentRequest.manualLedgerChecks[0].createdBy, classes: "govuk-body-s" },
              { text: qualityCheck.hasDismissed, classes: "govuk-body-s" },
              { html: actionHtml, classes: "govuk-body-s" }
            ]), tableRows) %}
          {% endfor %}

          {{ govukTable({
            caption: "Ledger assignments",
            captionClasses: "govuk-table__caption--s",
            head: [
              { text: "Scheme", classes: "govuk-body-s" },
              { text: "Scheme year", classes: "govuk-body-s" },
              { text: "FRN", classes: "govuk-body-s" },
              { text: "Agreement", classes: "govuk-body-s" },
              { text: "Invoice", classes: "govuk-body-s" },
              { text: "Request", format: "numeric", classes: "govuk-body-s" },
              { text: "Total amount", format: "numeric", classes: "govuk-body-s" },
              { text: "Reviewed by", classes: "govuk-body-s" },
              { text: "Ledger changed", classes: "govuk-body-s" },
              { text: "Actions", classes: "govuk-body-s" }
            ],
            rows: tableRows
          }) }}

          {% set paginationItems = [] %}
          {% if page > 1 %}
            {% set paginationPrevious = {
              href: "?page=" + (page - 1) + "&perPage=" + perPage,
              labelText: "Previous page"
            } %}
          {% endif %}

          {% if qualityCheckData.length >= perPage %}
            {% set paginationNext = {
              href: "?page=" + (page + 1) + "&perPage=" + perPage,
              labelText: "Next page"
            } %}
          {% endif %}

          {{ govukPagination({
            previous: paginationPrevious,
            next: paginationNext,
            items: [
              {
                number: page,
                current: true
              }
            ]
          }) }}
        </div>
      {% else %}
        {{ govukInsetText({
          text: "No payment requests awaiting quality check"
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}