{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/search-box.njk" import searchBox %}

{% block content %}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Ledger assignments awaiting quality check</h1>
      {% if qualityCheckData.length %}
        <div class="govuk-!-padding-bottom-3">
          <div class="user-search-box govuk-!-width-one-third">
            <form class="search-form" action="/quality-check" method="POST">
              <input type="hidden" name="crumb" value="{{crumb}}"/>
              {{searchBox(model)}}
            </form>
          </div>

          <p class="govuk-body">
            <a href="/quality-check" class="govuk-link govuk-link--no-visited-state">View all outstanding quality checks</a>
          </p>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Ledger assignments</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s">Scheme</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Scheme year</th>
                <th scope="col" class="govuk-table__header govuk-body-s">FRN</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Agreement</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Invoice</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Request</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Total amount</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Reviewed by</th>
                <th scope="col" class="govuk-table__header govuk-body-s">Ledger changed</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for qualityCheck in qualityCheckData %}
              <tr class="govuk-table__row">
                <td scope="col" class="govuk-table__cell govuk-body-s">{{ qualityCheck.paymentRequest.schemes.name }}</td>
                <td scope="col" class="govuk-table__cell govuk-body-s">{{ qualityCheck.paymentRequest.marketingYear }}</td>
                <td scope="col" class="govuk-table__cell govuk-body-s">{{ qualityCheck.paymentRequest.frn }}</td>
                <td scope="col" class="govuk-table__cell govuk-body-s">{{ qualityCheck.paymentRequest.agreementNumber }}</td>
                <td scope="col" class="govuk-table__cell govuk-body-s">{{ qualityCheck.paymentRequest.invoiceNumber }}</td>
                <td scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{ qualityCheck.paymentRequest.paymentRequestNumber }}</td>
                <td scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-body-s noWrap">{{ qualityCheck.paymentRequest.valueText }}</td>
                <td scope="col" class="govuk-table__cell govuk-body-s">{{ qualityCheck.paymentRequest.manualLedgerChecks[0].createdBy }}</td>
                <td scope="col" class="govuk-table__cell govuk-body-s"> {{ qualityCheck.hasDismissed }}</td>
                <td scope="col" class="govuk-table__cell govuk-body-s">
                  {% if qualityCheck.status === 'Pending' and qualityCheck.paymentRequest.manualLedgerChecks[0].createdById != user.userId %}
                    <a href="/manual-ledger-review?paymentrequestid={{qualityCheck.paymentRequest.paymentRequestId}}">Review</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <div>
      {% else %}
        <div class="govuk-inset-text">
          No payment requests awaiting quality check
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
